<h1><%=@workout.name %> exercises</h1>
<br>
<%=form_for(@workout) do |f| %>

  <br>

  <h4>Update Existing Reps</h4>
  <%=f.fields_for :exercises, @workout.exercise_workouts do |ew|%>
    <div class = "form-inline">
      <%=ew.collection_select :exercise_id, Exercise.all, :id, :name, {include_blank: "Choose..."}, class:'custom-select mb-2 mr-sm-2 mb-sm-0' %>
      <%=ew.label :reps, "Reps: " %>
      <%=ew.text_field :reps, placeholder: "0", class: 'form-control mb-2 mr-sm-2 mb-sm-0' %>
    </div>
  <% end %>
  <br>

  <h4>Add new Exercise</h4>
  <div class="form-inline">
    <%=f.fields_for :exercises, @workout.exercises.build do |exercise_builder|%>
        <%=exercise_builder.text_field :name, class: 'form-control mb-2 mr-sm-2 mb-sm-0', placeholder: 'Add exercise'%>
        <%=exercise_builder.label :bodypart, "Body Part: ", class:'mr-sm-2' %>
        <%=exercise_builder.select :bodypart, Exercise.body_parts, {include_blank: "Choose..."},class:'custom-select mb-2 mr-sm-2 mb-sm-0'%>

        <%=exercise_builder.fields_for :exercise_workout, @exercise.exercise_workouts.build do |ex_workout_builder|%>
          <%=ex_workout_builder.label :reps, "Reps: " %>
          <%=ex_workout_builder.text_field :reps, placeholder: "0", class: 'form-control mb-2 mr-sm-2 mb-sm-0' %>
        <%end%>

    <% end %>
  </div>

  <br>
  <%=f.submit class: 'btn btn-success'%>
<% end %>