<h1>Here are a list of your Workouts</h1>

<div>
  <%= form_for(@workout, url: user_workouts_path(@workout.user, @workout)) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.label :date %>
      <%= f.date_select :date, min: Time.now %>
      <%=f.hidden_field :user_id%>
      <%=f.submit %>
  <% end %>
</div>

<ul>
  <%@workouts.each do |workout| %>
      <li><%= link_to workout.name, user_workout_path(workout.user, workout)%></li>
  <% end %>

</ul>