<%= render 'shared/errors_messages', object: @workout %>

<h2><%=@workout.name %> <small>| <%=full_date(@workout.date)%></small></h2>
<div class="btn-group" role="group" aria-label="Basic example">
  <%= link_to "Edit Workouts", edit_workout_path(@workout), class: "btn btn-secondary" %>
  <%= link_to "Delete", workout_path(@workout), method: :delete, class: "btn btn-secondary" %>
  <%= link_to "Update Reps", workout_exercises_path(@workout), class: "btn btn-primary" %>
</div>
<br>
<br>

<% @workout.exercise_workouts.each do |exercise_workout| %>
  <li>
    <%=link_to exercise_workout.exercise.name, exercise_path(exercise_workout.exercise)%> | <em><%= exercise_workout.exercise.bodypart %></em> | Reps: <%=exercise_workout.reps || "0"  %>
  </li>
<% end %>