<h1>Editing <%=@exercise.name%> exercise</h1>

<%=form_for(@exercise) do |f| %>
    <%=f.label :name %>
    <%=f.text_field :name%><br> <br>
    <%=f.label :bodypart %>
    <%=f.text_field :bodypart%><br> <br>

    <%=f.submit %>
<% end %>